In [1]:
3 + 6

9

# listelere dowam

In [2]:
potpori=["ejes",3.14,True,7,[1,2,3,4,5,6]]
potpori

['ejes', 3.14, True, 7, [1, 2, 3, 4, 5, 6]]

In [4]:
potpori[0]="Batyr" #list de harplary uytgedip bolyar

In [6]:
potpori

['Batyr', 3.14, True, 7, [1, 2, 3, 4, 5, 6]]

In [7]:
name="Batyr"

In [8]:
name[0]="E" #strinde uytgedip bolanok harpy

TypeError: 'str' object does not support item assignment

# basic Operation with List

In [9]:
num=[1,2,3,4,5]
num

[1, 2, 3, 4, 5]

# append()

In [10]:
num.append(6)

In [11]:
num

[1, 2, 3, 4, 5, 6]

In [16]:
num.append(7)

In [17]:
num

[1, 2, 3, 4, 5, 6, 7, 7, 7]

In [19]:
num.append(7) # replace str de isleyar

# insert()

In [20]:
num_2=[11,12,13,14,15]
num_2

[11, 12, 13, 14, 15]

In [21]:
num_2.insert(1,20) # 1nji indexin yzyna 20 yazya.11 bn 12 arasyna

In [22]:
num_2

[11, 20, 12, 13, 14, 15]

In [25]:
num_2.insert(0,10)
num_2

[10, 11, 20, 12, 13, 14, 15]

In [26]:
num_2.insert(-1,16) #in sonyna gosup bolanok arasyna gosup bolya.sonuna gosmak ucin append ulanmaly
num_2

[10, 11, 20, 12, 13, 14, 16, 15]

In [27]:
num_2.insert(9,17)
num_2

[10, 11, 20, 12, 13, 14, 16, 15, 117]

# remove()

In [29]:
num_2.remove(2)
num_2

ValueError: list.remove(x): x not in list

In [30]:
num_3=[1,2,3,4,5,6,7,8,9,9,9,9]
num_3

[1, 2, 3, 4, 5, 6, 7, 8, 9, 9, 9, 9]

In [31]:
num_3.remove(8) # 8 i pozdy list icinde bar sany pozya
num_3

[1, 2, 3, 4, 5, 6, 7, 9, 9, 9, 9]

In [37]:
num_3.remove(9) # yazan sanyn pozya nace gezek isletsen ozi pozya
num_3

ValueError: list.remove(x): x not in list

In [38]:
name_1=["Ejesh","batyr","rabiya","patma","Denizhan"]
name_1

['Ejesh', 'batyr', 'rabiya', 'patma', 'Denizhan']

In [49]:
name_1.remove("Denizhan")
name_1

ValueError: list.remove(x): x not in list

In [50]:
name_1[1]="kelem" #yazylan batyr ady kelem bilen calsdy
name_1

['Ejesh', 'kelem', 'rabiya', 'patma']

# pop() listetin indexindeki elemani siler.Birsey yazmassaniz son elemany siler

In [52]:
num

[1, 2, 3, 4, 5, 6, 7, 7, 7, 7, 7]

In [59]:
num.pop() # sonky sanmy pozup baslady

7

In [60]:
num

[1, 2, 3, 4, 5, 6, 7]

In [62]:
num.pop(3)  #indexdaki 3nji tertipdaki sany pozdy yagny 4
num

[1, 2, 3, 5, 6, 7]

In [63]:
num.pop(3) # pozan sanyny gorkezdi

5

In [64]:
name.pop(0)

AttributeError: 'str' object has no attribute 'pop'

In [66]:
name_1

['Ejesh', 'kelem', 'rabiya', 'patma']

In [68]:
name_1.pop(1) #kelem sozini pozdy

'kelem'

In [69]:
nam_4=[]

In [70]:
num_4.pop()

NameError: name 'num_4' is not defined

In [71]:
poz=name_1.pop()

In [72]:
poz

'patma'

In [74]:
help(list.pop)

Help on method_descriptor:

pop(self, index=-1, /)
    Remove and return item at index (default last).

    Raises IndexError if list is empty or index is out of range.

# remove listenin icindakini pozya. 3 yazsan 3 pozya
# pop listenin icerindaki elemani pozya.3 yazsan 3nji tertipdaki

In [81]:
num_4=[1,2,3,4,5,6,7,8,9]
num_4

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [82]:
num_4.remove(3)
num_4 #3 lik san pozyldy

[1, 2, 4, 5, 6, 7, 8, 9]

In [83]:
num_4.pop(3) # 3nji tertipdaki sany pozdy

5

# count ()

In [87]:
num_5=[1,2,3,3,3,3,4,5,6,7,8,9]
num_5

[1, 2, 3, 3, 3, 3, 4, 5, 6, 7, 8, 9]

In [88]:
num_5.count(3)

4

In [89]:
mix_1=[1,0.1,False,2,True,1,1.0,0]
mix_1

[1, 0.1, False, 2, True, 1, 1.0, 0]

In [90]:
mix_1.count(0)

2

In [91]:
mix_1.count(1)

4

In [92]:
mix_1.count(True)

4

In [93]:
mix_1.count(False)

2

# clear()

In [94]:
num_2 # hemmesini pozyar

[10, 11, 20, 12, 13, 14, 16, 15, 117]

In [95]:
num_2.clear()

In [96]:
num_2

[]

# Delete

In [97]:
num_3 #delete funksiyany  duybunden pozyar

[1, 2, 3, 4, 5, 6, 7]

In [98]:
del num_3

In [99]:
num_3

NameError: name 'num_3' is not defined

# sort()

In [100]:
num_4

[1, 2, 4, 6, 7, 8, 9]

In [105]:
num_5=[5,7,2,9,11,6.6,8,43,23,4]

In [106]:
num_5.sort() # kiciden ula sanaya

In [107]:
num_5

[2, 4, 5, 6.6, 7, 8, 9, 11, 23, 43]

In [108]:
num_5.sort(reverse=True) # uludan kica sanaya

In [109]:
num_5

[43, 23, 11, 9, 8, 7, 6.6, 5, 4, 2]

In [110]:
help(list.sort)

Help on method_descriptor:

sort(self, /, *, key=None, reverse=False)
    Sort the list in ascending order and return None.

    The sort is in-place (i.e. the list itself is modified) and stable (i.e. the
    order of two equal elements is maintained).

    If a key function is given, apply it once to each list item and sort them,
    ascending or descending, according to their function values.

    The reverse flag can be set to sort in descending order.

In [111]:
name_2=["Mahym","merjen","seyda","mehmet"]
name_2

['Mahym', 'merjen', 'seyda', 'mehmet']

In [112]:
name_2.sort()

In [113]:
name_2

['Mahym', 'mehmet', 'merjen', 'seyda']

In [114]:
ord("M")

77

In [115]:
ord("e") #ord bir harpyn aschi degerindaki sany tapya

101

In [116]:
name_2.sort(reverse=True)

In [117]:
name_2

['seyda', 'merjen', 'mehmet', 'Mahym']

In [118]:
liste_1=["ejesh","batyr",1,2,3,2.3] # san bn harpy garysyp sortirovka edip bilmeyar
liste_1.sort()

TypeError: '<' not supported between instances of 'int' and 'str'

# extend() 1 den kop eleman gosup bilyar

In [119]:
list_2=[1,2,3]
list_2

[1, 2, 3]

In [120]:
list_2.extend(4)

TypeError: 'int' object is not iterable

In [121]:
list_2.extend([4,5])

In [122]:
list_2

[1, 2, 3, 4, 5]

In [123]:
list_2.extend("batyr")

In [124]:
list_2

[1, 2, 3, 4, 5, 'b', 'a', 't', 'y', 'r']