# print function

In [1]:
print("ejesh",  "batyr")

ejesh batyr

In [2]:
print("ejesh",      "batyr")

ejesh batyr

In [3]:
print("ejesh",  "batyr", sep="  ")

ejesh  batyr

In [4]:
print("ejesh",  "batyr",    sep="-")

ejesh-batyr

In [5]:
print("ejesh",  "batyr", sep="\U0001F600")

ejeshðŸ˜€batyr

In [6]:
help(print)

Help on built-in function print in module builtins:

print(*args, sep=' ', end='\n', file=None, flush=False)
    Prints the values to a stream, or to sys.stdout by default.

    sep
      string inserted between values, default a space.
    end
      string appended after the last value, default a newline.
    file
      a file-like object (stream); defaults to the current sys.stdout.
    flush
      whether to forcibly flush the stream.

In [7]:
print("ejesh",  "batyr",sep=-)

SyntaxError: invalid syntax (1924275254.py, line 1)

In [8]:
print("ejesh",  "batyr",sep="@")

ejesh@batyr

In [9]:
print("rabiya")
print("patma")
print("denizhan")

rabiya
patma
denizhan

In [10]:
print("rabiya",end="**")
print("patma")
print("denizhan")

rabiya**patma
denizhan

In [12]:
print("rabiya",end="!!")
print("patma")
print("denizhan")

rabiya!!patma
denizhan

In [14]:
print("rabiya",end="!")
print("patma",end="@")
print("denizhan",sep="##")

rabiya!patma@denizhan

In [16]:
print("rabiya",end="!")
print("patma",end="@")
print("denizhan","batyr",sep="##")

rabiya!patma@denizhan##batyr

In [17]:
print("rabiya","patma","denizhan",sep="\n")

rabiya
patma
denizhan

In [18]:
print("hello word",end="--")
print("35",36,"56",sep="**")
print("son satir")

hello word--35**36**56
son satir

# input()

In [19]:
input

In [22]:
input() # str bilen alinan maglumat str

'True'

In [23]:
input("yasini yaz")

'56'

In [24]:
age=input("yasini yaz")

In [25]:
input()

'32'

In [26]:
age=input("yasy gir")

In [27]:
age

'32'

In [28]:
2024-age

TypeError: unsupported operand type(s) for -: 'int' and 'str'

In [29]:
2024-int(age)

1992

In [30]:
age=int(age)
2024-int(age)

1992

In [32]:
age_1=int(input("yasynyzy girin"))

In [33]:
type(age_1)

int

In [34]:
age_2=int(input("yasynyzy yazyn"))

In [35]:
age_3=int(input("yasynyzy yazyn:san bilen gir"))

In [36]:
yas=input("yasy girin")
yas=int(yas)
dogl_gun=2024-yas
print("doglan yyl:",dogl_gun)

doglan yyl: 1948

# kg we boyu maglumatyna gora index kodu yazyn

In [43]:
boy=input("boyunuzu kg girin")
boy=float(boy)
kg=input("kglynyzy cm girin")
kg=float(kg)
index=kg/((boy/100)**2)
print("index:",index)

index: 24.280975342840534

In [44]:
boy=input("boyunuzu kg girin")
boy=int(boy)
kg=input("kglynyzy cm girin")
kg=int(kg)
index=kg/((boy/100)**2)
print("index:",index)

index: 24.280975342840534

# escape Sequence

In [45]:
print('i'm a teacher ")

SyntaxError: unterminated string literal (detected at line 1) (3700785119.py, line 1)

In [46]:
print("i'm a teacher ")

i'm a teacher

In [47]:
print('i\'m a teacher ')

i'm a teacher

In [48]:
print("i'm a teacher ")

i'm a teacher

In [49]:
print("i'm a teacher.\ni'm a student ")

i'm a teacher.
i'm a student

In [50]:
print("""i'm a teacher.
i'm a student """)

i'm a teacher.
i'm a student

In [51]:
print("i'm a teacher","i'm a student ",sep="\n")# tZE SETIR

i'm a teacher
i'm a student

In [53]:
print("i'm a teacher","i'm a student ",sep="\t")# \t tab bolya

i'm a teacher	i'm a student

In [54]:
print("i'm a teacher.\bi'm a student ")#\b onundaki karpy sany pozya.backspace

i'm a teacheri'm a student

In [55]:
print("i'm a teacher.\b\bi'm a student ")

i'm a teachei'm a student

In [56]:
print("i'm a teacher","i'm a student ",sep="\b")

i'm a teachei'm a student

In [57]:
print(r"i'm a teacher\ni'm a student ")# r gosa dyrnakda hic hili zat uytgetmeya degirdenok bolsy yaly yazydrya

i'm a teacher\ni'm a student

## kullanicidan Celcius bilgisini we fahrenheit cevirin

In [2]:
cels=int(input("cels girin"))
f=(1.8*cels)+32
print("f=",f)

f= 93.2

In [1]:
age=input("enter your age")
2024-age

TypeError: unsupported operand type(s) for -: 'int' and 'str'

In [2]:
age=input("enter your age")
2024-int(age)

1994

In [3]:
z=5.9999996
z=int(z)
print(z)

5

In [4]:

z=5.9
z=float(int(z))
z

5.0

In [5]:
x=(24/2)

In [6]:
x=(24/2)
x

12.0

In [7]:
y=(1*8/2)

In [8]:
y=(1*8/2)
y

4.0

In [9]:
z=(2**4/2)
z

8.0