# TUPLES

In [ ]:
# IMMUTABLE
# ITERABLE

In [1]:
tuple()
()

()

In [2]:
tuple("Ejesh")

('E', 'j', 'e', 's', 'h')

In [3]:
tuple([1,2,3,4,5])

(1, 2, 3, 4, 5)

In [4]:
tuple([1,2,3,4,5],"Ejesh")

TypeError: tuple expected at most 1 argument, got 2

In [5]:
tuple_1=("ejesh",3,3.14,False,[1,2,3])
tuple_1

('ejesh', 3, 3.14, False, [1, 2, 3])

In [7]:
type(tuple_1)

tuple

In [8]:
tuple(123)

TypeError: 'int' object is not iterable

In [9]:
name="Basak"

In [11]:
tuple(name)

('B', 'a', 's', 'a', 'k')

In [14]:
pi_number=3,14
pi_number

(3, 14)

In [15]:
type(pi_number)

tuple

In [16]:
len(pi_number)

2

In [18]:
["techpro"]

['techpro']

In [19]:
["Techpro",3,False]

['Techpro', 3, False]

In [22]:
("Techpro",)

('Techpro',)

In [23]:
(123)

123

In [24]:
("techpro",)

('techpro',)

In [25]:
tek_eleman1=("Techpro",)

In [26]:
len(tek_eleman1)

1

In [34]:
tuple_olmayan=(123.5) # virgul yok

In [35]:
type(tuple_olmayan)

float

In [36]:
type("techpro",) # fonksiyonun ikinci parametreinin giricilecini dusunur

str

In [37]:
type(("techpro",))

tuple

In [38]:
type(1,2)

TypeError: type() takes 1 or 3 arguments

In [40]:
liste_1=3,2,5
liste_1

(3, 2, 5)

In [41]:
type(liste_1)

tuple

In [42]:
[1,2,3]+[4,5]

[1, 2, 3, 4, 5]

In [43]:
[1,2,3]*3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [44]:
(1,2,3)+(4,5)

(1, 2, 3, 4, 5)

In [47]:
("Techpro",3,False)+("sedat",)# 1 virgul nelere kadir

('Techpro', 3, False, 'sedat')

# indexing & Slicing

In [62]:
tuple_2=("Aslan",4,True,["Tulay",5,6],("Zeynep",2,3.14))

In [63]:
tuple_2 [3]

['Tulay', 5, 6]

In [64]:
tuple_2 [3][0]

'Tulay'

In [65]:
tuple_2 [4][1]

2

In [66]:
tuple_2[4][1]

2

In [67]:
tuple_2[1:4]

(4, True, ['Tulay', 5, 6])

In [68]:
"techpro"[1:4]

'ech'

In [69]:
[1,4,5,2,6][1:4]

[4, 5, 2]

In [71]:
tuple_2

('Aslan', 4, True, ['Tulay', 5, 6], ('Zeynep', 2, 3.14))

In [70]:
tuple_2[3:0]

()

In [72]:
tuple_2[3:0:-1]

(['Tulay', 5, 6], True, 4)

In [73]:
tuple_2[0]

'Aslan'

In [74]:
tuple_2[0]="Meltem"

TypeError: 'tuple' object does not support item assignment

In [76]:
tuple_2[1]

4

In [77]:
tuple_2[1]=5

TypeError: 'tuple' object does not support item assignment

In [78]:
tuple_2

('Aslan', 4, True, ['Tulay', 5, 6], ('Zeynep', 2, 3.14))

In [79]:
tuple_2[3]

['Tulay', 5, 6]

In [82]:
tuple_2[3].append(7)

In [85]:
tuple_2# tuple lar hala immutable

('Aslan', 4, True, ['Tulay', 5, 6, 7, 7], ('Zeynep', 2, 3.14))

In [86]:
tuple_2

('Aslan', 4, True, ['Tulay', 5, 6, 7, 7], ('Zeynep', 2, 3.14))

In [87]:
tuple_2[0]

'Aslan'

In [88]:
tuple_2[0].upper()

'ASLAN'

In [89]:
tuple_2

('Aslan', 4, True, ['Tulay', 5, 6, 7, 7], ('Zeynep', 2, 3.14))

In [90]:
tuple_2[3]

['Tulay', 5, 6, 7, 7]

In [91]:
tuple_2[3].remove(5)

In [92]:
tuple_2

('Aslan', 4, True, ['Tulay', 6, 7, 7], ('Zeynep', 2, 3.14))

In [99]:
del tuple_2[3]

NameError: name 'tuple_2' is not defined

In [101]:
tuple_2

NameError: name 'tuple_2' is not defined

In [98]:
del tuple_2

NameError: name 'tuple_2' is not defined

In [103]:
tuple_2=("Aslan",4,True,["Tulay",5,6],("Zeynep",2,3.14))

In [104]:
tuple_2[0]

'Aslan'

In [105]:
name="Aslan"

In [106]:
tuple_2[3]

['Tulay', 5, 6]

In [107]:
name.upper()

'ASLAN'

In [108]:
name

'Aslan'

In [109]:
tuple_2[0].upper()

'ASLAN'

In [110]:
tuple_2

('Aslan', 4, True, ['Tulay', 5, 6], ('Zeynep', 2, 3.14))

# Tuple Methods

In [111]:
tuple_3 = (1, 4, 2, 5, 1, 3, 2, 4)

In [112]:
tuple_3.count(4)

2

In [113]:
tuple_3.count("Techpro")

0

In [115]:
tuple_3.index(5) # birinji goren elemanyn arar bulup yerini aydar sonkular bilen isi olmaz

3

In [116]:
tuple_3.index(4)

1

In [117]:
tuple_3

(1, 4, 2, 5, 1, 3, 2, 4)

In [118]:
tuple_3.index(7)

ValueError: tuple.index(x): x not in tuple

In [119]:
tuple_2

('Aslan', 4, True, ['Tulay', 5, 6], ('Zeynep', 2, 3.14))

In [121]:
tuple_2.index(["Tulay",5,6])

3

# Range

In [122]:
help(range)

Help on class range in module builtins:

class range(object)
 |  range(stop) -> range object
 |  range(start, stop[, step]) -> range object
 |
 |  Return an object that produces a sequence of integers from start (inclusive)
 |  to stop (exclusive) by step.  range(i, j) produces i, i+1, i+2, ..., j-1.
 |  start defaults to 0, and stop is omitted!  range(4) produces 0, 1, 2, 3.
 |  These are exactly the valid indices for a list of 4 elements.
 |  When step is given, it specifies the increment (or decrement).
 |
 |  Methods defined here:
 |
 |  __bool__(self, /)
 |      True if self else False
 |
 |  __contains__(self, key, /)
 |      Return bool(key in self).
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, key, /)
 |      Return self[key].
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __reduce__(...)
 |      Helper for pickle.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(...)
 |      Return a reverse iterator.
 |
 |  count(...)
 |      rangeobject.count(value) -> integer -- return number of occurrences of value
 |
 |  index(...)
 |      rangeobject.index(value) -> integer -- return index of value.
 |      Raise ValueError if the value is not present.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  start
 |
 |  step
 |
 |  stop

In [123]:
range(4,10)# in sonky elemany yazmaya

range(4, 10)

In [125]:
list (range(4,10))

[4, 5, 6, 7, 8, 9]

In [127]:
tuple(range(4,10))

(4, 5, 6, 7, 8, 9)

In [128]:
range(4,10)[1]

5

In [131]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [133]:
list(range(2,10,-1))

[]

In [135]:
list(range(10,2,-1))

[10, 9, 8, 7, 6, 5, 4, 3]

In [137]:
list(range(2,50,3))

[2, 5, 8, 11, 14, 17, 20, 23, 26, 29, 32, 35, 38, 41, 44, 47]

In [138]:
print(list(range(2,50,2)))

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48]

In [139]:
print(tuple(range(2,50,2)))

(2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48)